<%- include('layout/header'); -%>
  <div class="heading-row mb-20">
    <div class="row align-item-center">
      <div class="col-lg-6">
        <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i
              class="mdi mdi-file-image"></i></span> User List </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <select id="select-new" class="form-control">
                  <option>Name</option>
                  <option>Willian Smith</option>
                  <option>Dia Firdaus</option>
                  <option>Zimmy Wu</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <select id="select-new2" class="form-control">
                  <option>Unique ID</option>
                  <option>DE1002</option>
                  <option>FV3485</option>

                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <div class="form-group">
                  <input type="text" class="form-control" id="datepicker" placeholder="Register On">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <select id="select-new4" class="form-control">
                  <option>Refferd By</option>
                  <option>Willian Smith</option>
                  <option>Dia Firdaus</option>
                  <option>Zimmy Wu</option>
                </select>
              </div>
            </div>


          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="5%">S. No.</th>
                <th width="10%">unique ID</th>
                <th width="10%">Name</th>
                <th width="10%">Email</th>
                <th width="15%">Registered on</th>
                <th width="10%">Referred by</th>
                <th width="10%" class="text-success">Earned</th>
                <th width="10%" class="text-danger">Spent</th>

                <th width="10%">Mobile Number</th>
                <th width="30%">Status</th>


              </tr>
            </thead>
            <tbody>
              <% var i=1; if(user_details.length> 0){
                user_details.forEach(function(details){
                %>
                <tr>
                  <td>
                    <%- i %>
                  </td>
                  <td>DE1002</td>
                  <td>
                    <%- details.name%>
                  </td>
                  <td>
                    <%- details.email%>
                  </td>
                  <td>
                    <%- details.created_at%>
                  </td>
                  <td>
                    <%if(details.ref_from){%>
                      <%-details.ref_from%>
                        <%}else{%>
                          --
                          <%}%>
                  </td>
                  <td class="text-success">+77.99</td>
                  <td class="text-danger">+77.99</td>
                  <td>
                    <%- details.mobile_no%>
                  </td>

                  <td>
                    <%- details.status%>
                      <%if(details.status=="active" ){%>
                        <a href="/deactiveUser?id=<%=details.email%>">Deactive</a>
                        <%}else{%>
                          <a href="/activeUser?id=<%=details.email%>">Active</a>
                          <%}%>
                  </td>
                </tr>
                <% i++; }) } %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('layout/footer'); -%>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></script>
    <script type="text/javascript"
      src="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"></script>






    <script>
      $(document).ready(function () {
        $('.table').DataTable(
          {
            dom: 'Bfrtip',
            buttons: [

              'csvHtml5',

            ]

          }


        );
      });

      $('#search_btn').click(function () {

        var value = $('#s_field').val();
        // var _csrf = $('#_csrf').val();
        $.ajax({
          type: "post",
          url: "/searchUser",
          data: { value: value },
          success: function (data) {
            $('#tbody').html("");
            $('#tbody').html(data);
          }
        })
      });
    </script>

    <!-- <script>
  $(document).ready(function() {
    $('#example').DataTable( {
        //dom: 'Bfrtip',
        buttons: [
           
            'csvHtml5',
            
        ]
    } );
} );
</script> -->