<!DOCTYPE html>
<html>
<head>
     <title>The ArtW</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <!-- slick CSS -->
    <link href="assets/css/slick.css" rel="stylesheet"/>
    <link href="assets/css/slick-theme.css" rel="stylesheet"/>
  <!-- Animate CSS -->
    <link href="assets/css/animate.css" rel="stylesheet"/>
    <!-- hover-min CSS -->
    <link href="assets/css/hover-min.css" rel="stylesheet"/>
    <!-- yamm css -->
    <link href="assets/css/yamm.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesome web fonts with css -->
    <!-- loader css -->
    <link href="assets/css/loader.css" rel="stylesheet"/>
  <!-- Custom CSS -->
   <!--  <link href="assets/css/custom-home-new.css" rel="stylesheet"/> -->
    <link href="assets/css/custom-llc.css" rel="stylesheet"/>
 

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="assets/css/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .error_validate {
        color: red;
      }
    </style>
</head>
<body class="index-body">

<!-- normal header -->

<div class="upper-strip">
  <ul class="for-desktop">
    
    <li>1 ARTW = <%=token_values.btcValue%> BTC</li>
    <li>1 ARTW = <%=token_values.usdValue%> USD</li>
    <li>1 ARTW = <%=token_values.etherValue%> ETH</li>
    <!-- <li>1 ARTW = <%=token_values.usdValue%> GBP</li> -->
    
    <li>
        <a href="/comingsoon" target="_blank"><img src="assets/images_old/new-img/appstore.png"></a>
        
    </li>
    <li>
        
        <a href="/comingsoon" target="_blank"><img src="assets/images_old/new-img/playstore.png"></a>
    </li>
    
  </ul>
  <ul class="for-mobile" style="display: none;">
    
    <li>1 ARTW = <%=token_values.btcValue%> BTC</li>
    <li>1 ARTW = <%=token_values.usdValue%> USD</li>
    <li>1 ARTW = <%=token_values.etherValue%> ETH</li>
    <!-- <li>1 ARTW = <%=token_values.usdValue%> GBP</li> -->
    
    <li><a href="/comingsoon" target="_blank"><img src="assets/images_old/new-img/appstore.png"></a></li>
    <li><a href="/comingsoon" target="_blank"><img src="assets/images_old/new-img/playstore.png"></a></li>
  </ul>
</div>
<header class="header-main index-header inner-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href="/">
                <img src="assets/images/logo-white.png" class="color-logo" alt="The Art W Logo">
            </a>

            <ul class="navbar-nav for-mobile-view" style="display: none;">
                    <li class="nav-item">
                      <a class="nav-link sign-up-btn purple-btn-index" href="/signup">Buy</a>
                  </li>
                  
                    <li class="nav-item">
                      <a class="nav-link sign-up-btn purple-btn-index" href="/signup">Sign Up</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link sign-up-btn purple-btn-index" href="/login">Log In</a>
                </li>
                </ul>




            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navigation" id="main-nav">
                  <li class="nav-item active">
                        <a class="nav-link" href="/#about">About ARTW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Key Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#solutions">Solutions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#token-sale">Tokenomics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/#white-paper">Whitepaper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#our-team">Our Team</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link sign-up-btn purple-btn-index" href="/signup">Buy</a>
                  </li>
                  
                    <li class="nav-item">
                      <a class="nav-link sign-up-btn purple-btn-index" href="/signup">Sign Up</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link sign-up-btn purple-btn-index" href="/login">Log In</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>
</header>