<%- include('header') %>

<section class="for-dashboard-boxes">
  <div class="container-fluid">
         <div class="row m-0">
            
            

           <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <!-- <a href="painting-list.php"> -->
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3">Main Wallet ARTW</h4>
                        <h2 class=""><%=total_balance%></h2>
                    </div>
                    <div class="icon-side">
                        <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               <!-- </a> -->
            </div>
          </div>
          <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <!-- <a href="painting-list.php"> -->
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3">Value In USD(Main wallet)</h4>
                         <%if(total_usd!="" && total_usd!=null){%>
                           <h2 class=""><%=total_usd%></h2>
                           <%}else{%>
                              <h2 class="">0</h2>
                              <%}%>
                        
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               <!-- </a> -->
            </div>
          </div>
           <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <!-- <a href="painting-list.php"> -->
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3">Amount Staked in ARTW</h4>
                         <%if(total_current!="" && total_current!=null){%>
                           <h2 class=""><%=total_current%></h2>
                           <%}else{%>
                              <h2 class="">0</h2>
                              <%}%>
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               <!-- </a> -->
            </div>
          </div>
          <!-- <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
           
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3">Value In USD</h4>
                         <%if(total_current_usd!="" && total_current_usd!=null){%>
                           <h2 class=""><%=total_current_usd%></h2>
                           <%}else{%>
                              <h2 class="">0</h2>
                              <%}%>
                        
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/money.png">
                    </div>
                  </div>
              
            </div>
          </div> -->
           <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <!-- <a href="painting-list.php"> -->
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3">ARTW Withdrawn</h4>
                         <%if(total_withdrawn!="" && total_withdrawn!=null){%>
                        <h2 class=""><%=total_withdrawn%></h2>
                        <%}else{%>
                           <h2 class="">0</h2>
                           <%}%>
                    </div>
                    <div class="icon-side">
                        <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               <!-- </a> -->
            </div>
          </div>
         
           <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <!-- <a href="painting-list.php"> -->
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3">Interest Earned in ARTW</h4>
                         <%if(total_interest!="" && total_interest!=null){%>
                           <h2 class=""><%=total_interest%></h2>
                           <%}else{%>
                              <h2 class="">0</h2>
                              <%}%>
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               <!-- </a> -->
            </div>
          </div>

           <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <a href="/stake-deposit">
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3"></h4>
                        <h2 class="">Deposit</h2>
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               </a>
            </div>
          </div>

          <!-- <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <a href="painting-list.php">
                 <div class="card-body">
                    <div class="left-side-new">
                         <h4 class="font-weight-normal mb-3"><a href="/withdrawl">Withdraw/Deposit</a></h4>
                        <h2 class=""></h2>
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/money.png">
                    </div>
                  </div>
               </a>
            </div>
          </div> -->

          
            <div class=" stretch-card grid-margin">
            <div class="card rown-dash-card">
               <a href="" data-toggle="collapse" data-target="#demo">
                 <div class="card-body">
                    <div class="left-side-new">
                        <h2 class="">Rules</h2>
                    </div>
                    <div class="icon-side">
                       <img src="assets/images/icons/answer.png">
                    </div>
                  </div>
               </a>
            </div>
          </div>
         </div>
        

        <!-- <div class=" stretch-card grid-margin"> -->
         <!-- <div class="card rown-dash-card"> -->
      <!-- <div class="row align-item-center"> -->
         <!-- <div class="col-md-9"> -->
            
            <div>
              <form class="new-from-search rowan-vault-search" method="POST" action="/stakeByDate" id="validate_form">
                <label>From</label>
               <input type="date"  name="getMinDate" data-rule-required="true" data-msg-required="Please enter Date.">
               
               <label>To</label>
               <input type="date"  name="getMaxDate" data-rule-required="true" data-msg-required="Please enter Date.">
          
               <button class="btn btn-common light-green" type="submit" id="sub_btn">Search</button>
              </form>
            </div>
           
         <!-- </div> -->
         <!-- <div class="col-md-3">
           <div class="search-wrapper text-right">
              <div class="input-group">
          <input type="text" id="s_field" class="form-control">
          <div class="input-group-append">
            <button type="button" id="search_btn" class="btn btn-success mr-2"><i class="fa fa-search"></i></button>
          </div>
        </div>
           </div>
         </div> -->
            
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->

        <div class="row collapse" id="demo">
           <div class="col-md-12">
            
             <div class="card rule-card mb-15">
                <div class="card-body">
                    <h3 class="page-title mb-15">Rule</h3>
                    <ol class="sider-boar-rule">
                     <li>Staking can be made in ARTW tokens only.</li>
                     <li>Only Once the holding wallet has 1000 ARTW as interest, it can be withdrawn.</li>
                      <li><%=interest.interest_rate%>% interest is added to holding wallet per day, in form of ARTW tokens.</li>
                      <li>Minimum investment of 6000 ARTW (must be available in ARTW wallet).</li>
                      <li>Minimum duration is 30 days.</li>
                      <li>Withdraw amount should be equal to or less than 900000 ARTW.</li>
                      <li>After the fixed staking period you have 3 options. First, Withdraw initially staked ARTW (in part or in full) and/or any ARTW earned (provided the amount earned has reached a minimum of 1000 ARTW). Second, Restake the tokens and interest for a further minimum 30 day period. Third, Do nothing. Tokens and interest will automatically be restaked for a further 30 day period after 7 days. This does not apply if any ARTW are withdrawn from the staked amount, and in that situation any remaining tokens will need to be manually restaked.</li>
                      <li>For every transaction a fees of 0.0000001 ARTW will be deducted.</li>
                    </ol>
                </div>
             </div>
           </div>
        </div>
    </div>
</section>

<section >
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-md-12">
               <%if(err_msg!=""){%>
                  <div class="alert alert-danger"><%=err_msg%></div>
                <%} if(success_msg!=""){%>
                  <div class="alert alert-success"><%=success_msg%></div>
                <%}%>
                <div class=" wow slideInUp">
                  <div class="table-responsive">
                  
                     <table class="table vault-table">
                        <thead>
                             <tr>
                                <th width="4%">S.sNo.</th>
                                <!-- <th width="10%">Starting balance (RWN)</th> -->
                                <th width="6%">Starting balance(ARTW)</th>
                                <th width="8%">Type</th>
                                <th width="8%">Start date & time</th>
                                <th width="5%">Days</th>
                                <th width="8%">Deposit(ARTW)</th>
                                <th width="8%">Interest earned(ARTW)</th>
                                <th width="8%">Withdrawal(ARTW)</th>
                                <th width="8%">End date</th>
                                <th width="8%">Closing balance(ARTW)</th>
                                <!-- <th width="8%">Current coin balance</th> -->
                                <th width="8%">Current balance(ARTW) </th>
                                <th width="4%">Created at </th>
                                <th width="7%">Action </th>
                              </tr>
                        </thead>
                        <tbody>
                       
                          <%

							if(users.length>0)
							{
                
              
                  var sno = 1;
                 
								users.forEach(function(user){
						   %>
						    
                     <tr>
                        <td><%=sno%></td>
                        <!-- <td><%=user.startingbalance%></td> -->
                        <td><%=user.startingbalance%></td>
                        <td>
                          <%if(user.type!="withdrawl"){%>
                           Deposited
                          <%}else{%> 
                            Withdrawn
                          <%}%>  
                       </td>
                        <td><%=moment(user.startdate).format('DD MMM, YYYY, hh:mm:ss')%></td>
                        <td><%=user.days%></td>
                        <td><%=user.deposit%></td>
                       
                        <td>
                          <%if(user.type!="withdrawl"){%>
                           <%=user.interest_earned%>
                           <%}else{%> 
                             --
                          <%}%>  
                        </td>
                        <td><%=user.withdrawal%></td>
                        <td><%=moment(user.enddate).format('DD MMM, YYYY, hh:mm:ss')%></td>
                        <td><%=user.closingbalance%></td>
                        <!-- <td><%=user.current_coin_balance%></td> -->
                        <td><%=user.current_coin_balance%></td>
                        <td><%=moment(user.created_at).format('DD MMM, YYYY, hh:mm:ss')%></td>
                       
                          <td>
                             <%if(user.type!="withdrawl"){
                                if(user.current_coin_balance!=0){%>
                           <a href="/stake-withdrawl?id=<%=user._id%>">Withdraw</a><br>Or<br><a href="/stake-reinvest?id=<%=user._id%>">Reinvest</a>
                           
                             <%}else{%>
                              --
                             <%}}else{%> 
                              --
                             <%}%>   
                          </td>
                      </tr>
                          <%
                          sno++;});
                  
                          }
                        %>
                        </tbody>
                      </table>
                  </div>
                  <div class="pagination-block">
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span aria-hidden="true">«</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#"> <span aria-hidden="true">»</span></a>
                        </li>
                      </ul>
                  </div>
                </div>
             </div>
        </div>
    </div>
</section>



<%- include('footer') %>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="/admin_assets/js/jquery.validate.min.js"></script>
    <script>
      $(document).ready( function () {
        $('.vault-table').DataTable();
      } );
      </script>
      
      <script type="text/javascript">
        $('#validate_form').validate({
              onfocusout: function(element) {
              this.element(element);
              },
              errorClass: 'error_validate',
              errorElement:'span',
              highlight: function(element, errorClass) {
              $(element).removeClass(errorClass);
              },
              submitHandler:function(form)
                 {   $('#errorMsg').html("");
                    $('#sub_btn').attr('disabled',true);
                    form.submit();       
                 }
              });
      </script>